:root {
  --light-grey: #ddd;
  --dark-grey: #aaa;
  --table-radius: 8px;
}
table {
  margin: 0 auto;
  min-width: 600px;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  border-radius: var(--table-radius);
  text-align: center;
  font-family: sans-serif;
}
th,td {
  vertical-align: middle;
  padding: 10px 0;
}
tbody td:first-child {
  padding-left: 20px;
  text-align: left;
}
thead th {
  font-weight: bold;
  color: rgb(255, 255, 255);
}
thead th p:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: bolder;
}
tfoot button {
  padding: 5px 10px;
  font-size: 0.7em;
  text-transform: uppercase;
}
thead th:not(:first-child) {
  width: 17%;
}
thead th:first-child {
  background-color: rgb(150, 150, 243);
  border-top-left-radius: var(--table-radius);
}
thead th:nth-child(2) {
  background-color: rgb(80, 80, 160);
}
thead th:nth-child(3) {
  background-color: rgb(51, 51, 185);
}
thead th:nth-child(4) {
  background-color: rgb(27, 27, 128);
}
tfoot th:first-child {
  border-bottom-left-radius: var(--table-radius);
}
thead th:last-child {
  background-color: rgb(4, 4, 70);
  border-top-right-radius: var(--table-radius);
}
tfoot th:last-child {
  border-bottom-right-radius: var(--table-radius);
}
tbody tr:nth-child(odd) td:nth-child(odd),
tfoot th:nth-child(odd) {
  background-color: var(--dark-grey);
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd),
tfoot th:nth-child(even) {
  background-color: var(--light-grey);
}
